html{
  margin: 0;
  min-height: 100%;
  min-width: 100%;
  background: url("https://c.pxhere.com/photos/f0/13/finland_lake_forest-862470.jpg!d") no-repeat center center;
  background-size: cover;
}

body, #PageDiv, #root {
  margin: 0;
  height: 100%;
  width: 100%;
}

#MainContent {
  align-items: center;
}


#PageHeader{
  width: 100%;
  background-color: #013220;
  margin-bottom: 25px;
}

#PageHeader div {
  text-align: center;
  align-self: center;
  color: #FFFFFF;
}

#PageHeader p {
  display: inline-block;
  margin-right: 13px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  vertical-align: middle;
  background: linear-gradient(360deg, #002F6C, #FFFFFF);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

#LanguageList {
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
  margin: 10px;
  list-style: none;

}

.LanguageItem {
  font-size: 15px;
  margin: 3px;
}

#LanguageFinnish {
  background: linear-gradient(120deg, #002F6C, #FFFFFF);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

#LanguageEnglish {
  background: linear-gradient(120deg, #C8102E, #FFFFFF);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

#SearchElements {
  margin: 0 auto;
  max-width: 80%;
  margin-top: 10px;
  
}

#SearchBox{
  background-color: #FFFFFF;
  border-style: solid;
  margin: 0 auto;
  border-width: 5px;
  border-color: #013220;
  border-radius: 20px;
  width: 90%;
  padding: 5px;
  text-align: left;
}

#SearchBar {
  position: relative;
  display: inline-block;

  height: 30px;
  border: none;
  vertical-align: middle;
  margin: 0 auto;
}

#SearchButton {
  display: inline-block;
  position: relative;

  height: auto;
  padding: 2px;
  border: none;
  background: transparent;
  cursor: pointer;
  vertical-align: middle;

}

#SearchButton img {
  height: 20px;
  width: 20px;
}

#DropdownNames {
  display: inline-block;
  flex-direction: column;
  width: inherit;
  margin-bottom: 4px;
  padding: 3px;
  background-color: #FFFFFF;
  width: 90%;
  height: 150px;
  overflow: hidden;
  overflow-y: auto;
  text-align: left;




}

#DropdownNames::-webkit-scrollbar {
  display: none;
}

.VaakunaName {
  display: inline-block;
  width: 100%;
  height: 30px;
  cursor: pointer;
  padding: 3px;
  margin: 5px 0px 5px 0px;
  text-decoration: none;
  color: #000000;
  

}

#SortingBox {
  display: flex;
  position: relative;
  width: 100%;

}

#SortingList {
  position: relative;
  width: fit-content;
  text-align: center;
  padding: 0;
  border: #FFFFFF;
  border-style: solid;
  border-radius: 20px;
  padding: 5px;

}

#sortItem {
  color: #FFFFFF;
  display: inline-block;
  list-style: none;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold
}



#VaakunaGallery {
  overflow: hidden;
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  margin-bottom: 25px;
  margin-top: 10px;
  max-width: 87.5%;
  align-self: center;
  text-align: center;
  padding: 0px 7.5px 7.5px 7.5px;
  background-color:rgb(1, 50, 32, .7);
  border-radius: 20px;
  
}

.VaakunaImg img {
  overflow: hidden;
  position: relative;
  display: flex;
  margin: 2px;
  height: auto;
}

.SearchBorder {
  border: solid 1px #FFFFFF;
}

#COAArray {
  overflow: hidden;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: auto;
  justify-content: space-evenly;
  
}

footer {
  width: 100%;
  position: absolute;
  margin-bottom: 0;
  background-color: #013220;
  text-align: center;
}

footer p {
  font-size: 15px;
  color: #FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px;
}

@media only screen and (max-width: 600px) {
  /*Header responsive styling*/
  #PageHeader{
    text-align: center;
  }

  .VaakunaImg img{
    width: 40px;
    border: solid 1px #FFFFFF;
    
  }

  #VaakunaGallery {
    max-width: 87.5%;
  }

  #SearchBar, .VaakunaName {
    width: 95%;
    height: 30px;
  }

  #SearchBar {
    vertical-align: middle;
  }

  #SearcButton, #ButtonIcon {
    display: none;
  }

}

@media only screen and (min-width: 600px) {
  /*Header responsive styling*/
  #PageHeader{
    text-align: center;
  }

  #PageHeader p {
    align-self: center;
    font-size: 25px;
  }

  .LanguageItem {
    font-size: 20px;
  }

  /*Image gallery responsive styling*/
  .VaakunaImg img {
    width: 55px;
    border: solid 3px #FFFFFF;
    
  }

  #SearchBar, .VaakunaName {
    width: 92%;
    height: 30px;
  }

  #SearcButton {
    width: fit-content;
  }

}

@media only screen and (min-width: 740px) {
  /*Header responsive styling*/
  #PageHeader{
    text-align: center;
  }

  #PageHeader p {
    align-self: center;
    font-size: 30px;
  }

  .LanguageItem {
    font-size: 25px;
  }

  /*Image gallery responsive styling*/
  .VaakunaImg img {
    width: 70px;
    border: solid 2px #FFFFFF;
    
  }

  #SearchBar, .VaakunaName {
    width: 94%;
    height: 30px;
  }

  #SearchButton {
    width: fit-content;
    height: fit-content;
  }

  footer p {
    font-size: 22.5px;
  }

}

@media only screen and (min-width: 990px) {
  /*Header responsive styling*/
  #PageHeader{
    text-align: center;
  }

  #PageHeader p {
    align-self: center;
    font-size: 35px;
  }

  .LanguageItem {
    font-size: 27.5px;
  }

  /*Image gallery responsive styling*/
  .VaakunaImg img {
    width: 80px;
    border: solid 3px #FFFFFF;

    
  }

  #VaakunaGallery {
    max-width: 77%;
    float: left;
    margin-left: 5px;
  }

  /*Searchbar responsive styling*/

  #SearchElements {
    float: right;
    max-width: 18%;
    margin-right: 15px;
  }

  #SearchBox {
    border-width: 5px;
    height: auto;
    margin: 0px 5px 0px 5px;
  }

  #SearchBar, .VaakunaName {
    width: 80%;
    height: 20px;
  }

  footer p {
    font-size: 25px;
  }

}

@media only screen and (min-width: 1200px) {
  /*Header responsive styling*/
  #PageHeader{
    text-align: center;
  }

  #PageHeader p {
    align-self: center;
    font-size: 40px;
  }

  .LanguageItem {
    font-size: 30px;
  }

  /*Image gallery responsive styling*/
  .VaakunaImg img {
    width: 90px;
    border: solid 4px #FFFFFF;

    
  }

  #VaakunaGallery {
    max-width: 82.5%;
    float: left;
    margin-left: 5px;
  }

  /*Searchbar responsive styling*/

  #SearchElements {
    float: right;
    max-width: 13%;
    margin-right: 20px;
  }

  #SearchBox {
    border-width: 5px;
    height: auto;
    margin: 0px 5px 0px 5px;
  }

  #SearchBar, .VaakunaName {
    width: 77%;
    height: 20px;
  }


  
  footer p {
    font-size: 27.5px;
  }

}

@media only screen and (min-width: 1500px) {
  #SearchBox {
    text-align: center;
  }

  #SearchBar, .VaakunaName {
    width: 80%;
    height: 20px;
  }
}

